.navall{
    background: black;
    position: relative;

}

.navbars{
    margin: 0 auto;
    width: 85%;

}
.navul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navul li{
    list-style-type: none;
    flex: 1;
    text-align: center;
}
.navul li a{
    color:white;
    font-weight: bold;
    font-size: 18px;
}
.navul li a:hover{
    color:white;
    text-decoration: none;
}
.shop{
    background: #2BDABA;
    position: relative;
    text-align: center;
    align-self: center;
    flex: .3;
    align-items: stretch;
    padding: 19px 20px;
    flex: 1.2;
    margin-left: 10px;
}
.shop i{
    padding: 10px 12px;background: #FFB840;
    margin-top: 5px;
    background: #0FC3A4;
    font-size: 25px;
}
.cart{
    position: fixed;
    width: 40%;
    z-index: 1;
    border: 1px solid rgba(128,128,128,.4) ;
    right: 30%;
    top: 10%;
    padding: 30px;
    background: #FBFBFB;
    border-radius: 8px;
}
.user{
    color: azure;
}
.cart ul {
    display: flex;
    background: white;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}
.cart ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.cart ul li img {
    width: 10%;
}
.menshover{
    display: none
}
.limens:hover .menshover{
    display: block;
}
.limens{
    padding: 31px 0;
}
.womenshover{
    display:none
}
.liwomens{
    padding: 18px 0;
}
.liwomens:hover .womenshover{
   display: block;
}
.navulli{
    padding: 29px 0;
    border-bottom: 5px solid transparent;
}
.navulli:hover{
    border-bottom: 5px solid #2BDABA;
    transition: 1s;
}
.delete{
    font-size: x-large;
    cursor: pointer;
    color: #423039;
}