.shopItem{
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wthree_text_info{
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.wthree_text_info  span{
    font-weight: 300;
}
.wrap{
     width: 270px;
     margin: 10px;
     box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding-bottom: 20px;
}
.imgConteiner{
    position: relative;
   
}
.imgConteiner img{
   width: 100%;
   transition: all 0.5s ease-out 0s;
    padding: 52px 50px 20px;
}
.product-new-top{
    background: #fc636b none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    right: 0;
    padding: 0 10px 1px;
    position: absolute;
    top: 0;
    z-index: 99;
}
.item-info-product {
    text-align: center;
    margin: 20px 0 0;
}

.title{
    font-weight: 500;
    line-height: 1.1;
    color: crimson;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}
.info-product-price {
    margin: 10px 0;
}
.info-product-price span{
    color: #000;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}
.snipcart-details {
    text-align: center;
    margin: 0.5em auto 1em;
    width: 77%;
}
.hvr-outline-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #2fdab8;
}
.hvr-outline-out:before {
    content: '';
    position: absolute;
    border: #2fdab8 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}
.snipcart-details input.button {
    font-size: 13px;
    color: #fff;
    background: #2fdab8;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.resp-tabs-list li {
    float: left;
    display: inline-block;
    padding: 12px 20px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    color: #2A2B2F;
    width: 21%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.resp-tab-active {
    border-bottom: 4px solid #fc636b;
    margin-bottom: -1px !important;
    position: relative;
    background: #fc636b;
}
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}
.cartNavigate ul{
    margin-left: 13%;
}
